
<%= render "header"%>



<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Caesar Cipher</h1>
    <p class="lead"> From Wikipedia:</p>
    <p>  </p>

<p>
In cryptography, a Caesar cipher, also known as Caesar’s cipher, the shift cipher, Caesar’s code or Caesar shift, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. For example, with a left shift of 3, D would be replaced by A, E would become B, and so on. The method is named after Julius Caesar, who used it in his private correspondence.</p>


<p> Implement a caesar cipher that takes in a string and the shift factor and then outputs the modified string: </p>

  <p> INPUT:  "What a string!", 5 </p>
  <p>OUTPUT: "Bmfy f xywnsl!" </p>


<p>
Quick Tips:
You will need to remember how to convert a string into a number.
Don’t forget to wrap from z to a.
Don’t forget to keep the same case.
</p>

<strong> INPUT: </strong>
<pre class="container p-3 my-3 border bg-dark text-white"><%= @input %></pre>

<strong > OUTPUT: </strong>
<pre class="container p-3 my-3 border bg-dark text-white"><%= @output %></pre>

<div class=""> <%= link_to "Submit another", caesar_problem_path, class: "btn btn-dark my-2 my-sm-0" %> </div>

 </div>




</main>



<%= render "footer"%>
