
<%= render "header"%>



<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Substrings</h1>
    <p class="lead"> </p>
    <p>  </p>

<p>
</p>


<p> Implement a method #substrings that takes a word or multiple words as the first argument and then an array of valid substrings (your dictionary) as the second argument. It should return a hash listing each substring (case insensitive) that was found in the original string and how many times it was found.
    The order of the substrings is NOT important.</p>

  <p> INPUT:  "below", ["below","down","go","going","horn","how","howdy","it","i","low","own","part","partner","sit"] </p>
  <p>OUTPUT:  { "below" => 1, "low" => 1 } </p>

  <p> INPUT:  "Howdy partner, sit down! How's it going?", ["below","down","go","going","horn","how","howdy","it","i","low","own","part","partner","sit"] </p>
  <p>OUTPUT:  { "down" => 1, "how" => 2, "howdy" => 1,"go" => 1, "going" => 1, "it" => 2, "i" => 3, "own" => 1,"part" => 1,"partner" => 1,"sit" => 1 } </p>


<p>
Quick Tips:
Make sure your method can handle multiple words.
Recall how to turn strings into arrays and arrays into strings.
You probably should convert everything to lowercase for comparison.
</p>


<%= form_with url: substrings_solve_path do |f| %>
   <p>
  <%= f.label :input, class: "lead" %>
   <%= f.text_area :input, class: "form-control rounded-0" %>
   </p><p>
   <%= f.submit "Submit", class: "btn btn-dark text-white" %>
   </p>

<% end %>


 </div>




</main>



<%= render "footer"%>
